  /* Sticky footer styles
  -------------------------------------------------- */
  html 

  {

    position: relative;
    min-height: 100%;

  }

  body

  {

    /* Margin bottom by footer height */
    margin-bottom: 90px;

  }

  body > .container

  {

     padding-top: 10px;

  }

  .padded 

  {

    padding-top: 30px

  }

 .navbar-default 

 {

  background-color:black;

 }
