<!DOCTYPE html>
<html>
<head>
  <title>HEMS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  
<body>
  <br><br><br>

<div class="row">
      
        <div class="main " >
          <div class="container">
            <div class="jum jumbotron  " style="background: white;">
            <br />
              <div class="panel panel-primary ">
              <div class="panel-heading">Forget Password</div>
              <form>
              
              <div class="panel-body">            
              <br />    
      
              <div class="form-group">  
              <label  for="email" class="col-md-2 control-label">Email:</label>
              <div class="col-md-8">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="x.email" autocapitalize="none">
              </div>
              </div>
              <br>

              <div class="form-group">  
              <label  for="password" class="col-md-2 control-label">Password:</label>
              <div class="col-md-8">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="x.password" autocapitalize="none">
              </div>
              </div>
              <br>

              <div class="form-group">  
              <label  for="password-repeat" class="col-md-2 control-label">RepeatPassword:</label>
              <div class="col-md-8">
                <input type="password" class="form-control" id="password-repeat" placeholder="Repeat Password" ng-model="x.passwordRepeat" autocapitalize="none">
              </div>
              </div>
              
              </div>
              <div class="panel-footer">
              <center><button type="submit" class="btn btn-success" ng-click="x.show_pass()">Enter</button></center>           
              </div>
              </form>
              </div>
            </div>
          </div>
        </div>
</div>
</body>
</html>